In [72]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

shksprData = pd.read_csv('../data/Shakespeare_data.csv')
shksprData.head()

,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,1,Henry IV,NaN,NaN,NaN,ACT I
1,2,Henry IV,NaN,NaN,NaN,SCENE I. London. The palace.
2,3,Henry IV,NaN,NaN,NaN,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ..."
3,4,Henry IV,1.0,1.1.1,KING HENRY IV,"So shaken as we are, so wan with care,"
4,5,Henry IV,1.0,1.1.2,KING HENRY IV,"Find we a time for frighted peace to pant,"

In [73]:
# -----------------------------------------------------------------
# Remove useless data
# -----------------------------------------------------------------

# Delete pointless Dataline column
del shksprData['Dataline']
# Delete PlayerLine since we will not use it in our algorithm
del shksprData['PlayerLine']
# Delete rows that include one or more NaN values
shksprData = shksprData.dropna()

# -----------------------------------------------------------------

shksprData.head()

       Play  PlayerLinenumber ActSceneLine         Player
3  Henry IV               1.0        1.1.1  KING HENRY IV
4  Henry IV               1.0        1.1.2  KING HENRY IV
5  Henry IV               1.0        1.1.3  KING HENRY IV
6  Henry IV               1.0        1.1.4  KING HENRY IV
7  Henry IV               1.0        1.1.5  KING HENRY IV

In [76]:
# -----------------------------------------------------------------
# Make categorical features useable with encoding
# -----------------------------------------------------------------

le = LabelEncoder()
leFeatures = ['Play', 'PlayerLinenumber', 'ActSceneLine']
shksprData[leFeatures] = shksprData[leFeatures].apply(lambda col: le.fit_transform(col))

# -----------------------------------------------------------------

shksprData.head()

   Play  PlayerLinenumber  ActSceneLine         Player
3     9                 0           324  KING HENRY IV
4     9                 0           435  KING HENRY IV
5     9                 0           546  KING HENRY IV
6     9                 0           657  KING HENRY IV
7     9                 0           768  KING HENRY IV

In [ ]:
# -----------------------------------------------------------------
# TBA
# -----------------------------------------------------------------

In [46]:
x = shksprData[['PlayerLinenumber', 'ActSceneLine', 'PlayerLine']]
y = shksprData.Player

# Split the dataset into 80% training data and 20% test data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=.2, random_state=0)

asdf = pd.get_dummies(x_train, prefix_sep='_')
asdf

# c = DecisionTreeClassifier()
# c = c.fit(x_train, y_train)

# target_prediciton = c.predict(x_test)

# print("Accurary: ", metrics.accuracy_score(y_test, y_prediction))

MemoryError:

In [41]:
asdf = np.unique(shksprData['Player'])
asdf

array(['A Lord', 'A Patrician', 'A Player', 'AARON', 'ABERGAVENNY',
       'ABHORSON', 'ABRAHAM', 'ACHILLES', 'ADAM', 'ADRIAN', 'ADRIANA',
       'ADRIANO DE ARMADO', 'AEGEON', 'AEMELIA', 'AEMILIUS', 'AENEAS',
       'AEdile', 'AGAMEMNON', 'AGRIPPA', 'AJAX', 'ALBANY', 'ALCIBIADES',
       'ALENCON', 'ALEXANDER', 'ALEXAS', 'ALICE', 'ALL', 'ALONSO',
       'AMIENS', 'ANDROMACHE', 'ANGELO', 'ANGUS', 'ANNE', 'ANNE PAGE',
       'ANOTHER', 'ANTIGONUS', 'ANTIOCHUS', 'ANTIPHOLUS', 'ANTONIO',
       'ANTONY', 'APEMANTUS', 'ARCHBISHOP OF YORK', 'ARCHIDAMUS', 'ARIEL',
       'ARMADO', 'ARRAGON', 'ARTEMIDORUS', 'ARTHUR', 'ARVIRAGUS',
       'ATTENDANT', 'AUDREY', 'AUFIDIUS', 'AUSTRIA', 'AUTOLYCUS', 'Abbot',
       'All', 'All Citizens', 'All Conspirators', 'All Ladies',
       'All Lords', 'All Servants', 'All The Lords', 'All The People',
       'All the Goths', 'Apothecary', 'Attendant', 'Attendants', 'BAGOT',
       'BALTHASAR', 'BALTHAZAR', 'BANQUO', 'BAPTISTA', 'BARDOLPH',
       'BARNARDINE', 'BASSANIO', 'BASSET', 'BASSIANUS', 'BASTARD',
       'BASTARD OF ORLEANS', 'BATES', 'BEATRICE', 'BEDFORD', 'BELARIUS',
       'BENEDICK', 'BENVOLIO', 'BERNARDO', 'BERTRAM', 'BEVIS', 'BIANCA',
       'BIGOT', 'BIONDELLO', 'BIRON', 'BISHOP OF CARLISLE',
       'BISHOP OF ELY', 'BLANCH', 'BLUNT', 'BOLINGBROKE', 'BONA',
       'BORACHIO', 'BOTH', 'BOTTOM', 'BOULT', 'BOURBON', 'BOYET',
       'BRABANTIO', 'BRAKENBURY', 'BRANDON', 'BRUTUS', 'BUCKINGHAM',
       'BURGUNDY', 'BUSHY', 'Banditti', 'Bawd', 'Beadle', 'Boatswain',
       'Both', 'Both Citizens', 'Both Murderers', 'Both Tribunes', 'Boy',
       'CADE', 'CAESAR', 'CAITHNESS', 'CAIUS LUCIUS', 'CALCHAS',
       'CALIBAN', 'CALPURNIA', 'CAMBRIDGE', 'CAMILLO', 'CANIDIUS',
       'CANTERBURY', 'CAPHIS', 'CAPUCIUS', 'CAPULET', 'CARDINAL',
       'CARDINAL CAMPEIUS', 'CARDINAL PANDULPH', 'CARDINAL WOLSEY',
       'CASCA', 'CASSANDRA', 'CASSIO', 'CASSIUS', 'CATESBY', 'CATO',
       'CELIA', 'CERES', 'CERIMON', 'CHARLES', 'CHARMIAN', 'CHATILLON',
       'CHIRON', 'CHRISTOPHER', 'CICERO', 'CINNA', 'CINNA THE POET',
       'CLARENCE', 'CLAUDIO', 'CLAUDIUS', 'CLEOMENES', 'CLEON',
       'CLEOPATRA', 'CLERK', 'CLIFFORD', 'CLITUS', 'CLOTEN', 'COBWEB',
       'COMINIUS', 'CONRADE', 'CONSTANCE', 'CORDELIA', 'CORIN',
       'CORIOLANUS', 'CORNELIUS', 'CORNWALL', 'COSTARD', 'COUNTESS',
       'COURT', 'CRANMER', 'CRESSIDA', 'CROMWELL', 'CURAN', 'CURIO',
       'CURTIS', 'CYMBELINE', 'Captain', 'Carrier', 'Chamberlain',
       'Chancellor', 'Children', 'Chorus', 'Citizen', 'Citizens', 'Clerk',
       'Clown', 'Commons', 'Constable', 'Courtezan', 'Crier', 'Cupid',
       'DARDANIUS', 'DAUPHIN', 'DECIUS BRUTUS', 'DEIPHOBUS', 'DEMETRIUS',
       'DENNIS', 'DENNY', 'DERBY', 'DERCETAS', 'DESDEMONA', 'DIANA',
       'DICK', 'DIOMEDES', 'DION', 'DIONYZA', 'DOCTOR BUTTS',
       'DOCTOR CAIUS', 'DOGBERRY', 'DOLABELLA', 'DOMITIUS ENOBARBUS',
       'DON JOHN', 'DON PEDRO', 'DONALBAIN', 'DORCAS', 'DORSET',
       'DROMIO OF EPHESUS', 'DROMIO OF SYRACUSE', 'DUCHESS',
       'DUCHESS OF YORK', 'DUKE', 'DUKE FREDERICK', 'DUKE OF AUMERLE',
       'DUKE OF SURREY', 'DUKE OF VENICE', 'DUKE OF YORK', 'DUKE ORSINO',
       'DUKE SENIOR', 'DUKE SOLINUS', 'DUKE VINCENTIO', 'DULL', 'DUMAIN',
       'DUNCAN', 'Danes', 'Daughter', 'Doctor', 'EARL OF DOUGLAS',
       'EARL OF SALISBURY', 'EARL OF WORCESTER', 'EDGAR', 'EDMUND',
       'EDWARD', 'EGEUS', 'EGLAMOUR', 'ELBOW', 'ELINOR', 'ELY', 'EMILIA',
       'EROS', 'ERPINGHAM', 'ESCALUS', 'ESCANES', 'ESSEX', 'EUPHRONIUS',
       'EXETER', 'EXTON', 'Egyptian', 'English Herald', 'FABIAN',
       'FALSTAFF', 'FASTOLFE', 'FENTON', 'FERDINAND', 'FLAMINIUS',
       'FLAVIUS', 'FLEANCE', 'FLORIZEL', 'FLUELLEN', 'FLUTE', 'FORD',
       'FRANCIS', 'FRANCISCA', 'FRANCISCO', 'FRENCH KING',
       'FRIAR FRANCIS', 'FRIAR JOHN', 'FRIAR LAURENCE', 'FRIAR PETER',
       'FRIAR THOMAS', 'FROTH', 'Fairy', 'Father', 'Fifth Citizen',
       'First Ambassador', 'First Apparition', 'First Attendant',
       'First Bandit', 'First Brother', 'First Captain', 'First Carrier',
       'First Citizen', 'First Clown', 'First Commoner',
       'First Conspirator', 'First Executioner', 'First Fisherman',
       'First Gaoler', 'First Gentleman', 'First Goth', 'First Guard',
       'First Herald', 'First Huntsman', 'First Keeper', 'First Knight',
       'First Lady', 'First Lord', 'First Merchant', 'First Messenger',
       'First Murder', 'First Murderer', 'First Musician',
       'First Neighbour', 'First Officer', 'First Outlaw', 'First Page',
       'First Petitioner', 'First Pirate', 'First Player', 'First Priest',
       'First Roman', 'First Sailor', 'First Secretary', 'First Senator',
       'First Sentinel', 'First Servant', 'First Servingman',
       'First Soldier', 'First Stranger', 'First Traveller',
       'First Tribune', 'First Warder', 'First Watchman', 'First Witch',
       'Fool', 'Forester', 'Fourth Citizen', 'Fourth Gentleman',
       'Fourth Lord', 'Fourth Messenger', 'Fourth Soldier',
       'French Herald', 'French Soldier', 'Frenchman', 'GADSHILL',
       'GALLUS', 'GARDENER', 'GARDINER', 'GARGRAVE', 'GENTLEMEN',
       'GEORGE', 'GHOST', 'GLANSDALE', 'GLENDOWER', 'GLOUCESTER', 'GOBBO',
       'GONERIL', 'GONZALO', 'GOVERNOR', 'GOWER', 'GRANDPRE', 'GRATIANO',
       'GREEN', 'GREGORY', 'GREMIO', 'GREY', 'GRIFFITH', 'GRUMIO',
       'GUIDERIUS', 'GUILDENSTERN', 'GUILDFORD', 'GURNEY', 'Gaoler',
       'Gardener', 'Garter', 'General', 'Gentleman', 'Gentlewoman',
       'Ghost', 'Ghost of CLARENCE', 'Ghost of GREY', 'Ghost of HASTINGS',
       'Ghost of LADY ANNE', 'Ghost of RIVERS', 'Ghost of VAUGHAN',
       'Girl', 'Groom', 'Guard', 'HAMLET', 'HASTINGS', 'HECATE', 'HECTOR',
       'HELEN', 'HELENA', 'HELENUS', 'HELICANUS', 'HENRY BOLINGBROKE',
       'HENRY PERCY', 'HERBERT', 'HERMIA', 'HERMIONE', 'HERNIA', 'HERO',
       'HIPPOLYTA', 'HOLLAND', 'HOLOFERNES', 'HORATIO', 'HORNER',
       'HORTENSIA', 'HORTENSIO', 'HORTENSIUS', 'HOTSPUR', 'HUBERT',
       'HUME', 'HYMEN', 'Haberdasher', 'Herald', 'Host', 'Hostess',
       'Huntsman', 'IACHIMO', 'IAGO', 'IDEN', 'IMOGEN', 'IRAS', 'IRIS',
       'ISABELLA', 'JAMY', 'JAQUENETTA', 'JAQUES', 'JAQUES DE BOYS',
       'JESSICA', 'JOAN LA PUCELLE', 'JOHN MORTIMER', 'JOHN OF GAUNT',
       'JOHN TALBOT', 'JOSEPH', 'JULIA', 'JULIET', 'JUNO', 'Jeweller',
       'Jupiter', 'Justice', 'KATARINA', 'KATHARINA', 'KATHARINE', 'KENT',
       'KING', 'KING CLAUDIUS', 'KING EDWARD IV', 'KING HENRY IV',
       'KING HENRY V', 'KING HENRY VI', 'KING HENRY VIII', 'KING JOHN',
       'KING LEAR', 'KING LEWIS XI', 'KING OF FRANCE', 'KING PHILIP',
       'KING RICHARD II', 'KING RICHARD III', 'KNIGHTS', 'Keeper',
       'Knight', 'Knights', 'LADY  CAPULET', 'LADY ANNE', 'LADY CAPULET',
       'LADY FAULCONBRIDGE', 'LADY GREY', 'LADY MACBETH', 'LADY MACDUFF',
       'LADY MONTAGUE', 'LADY PERCY', 'LAERTES', 'LAFEU', 'LANCASTER',
       'LARTIUS', 'LAUNCE', 'LAUNCELOT', 'LAVINIA', 'LE BEAU', 'LEAR',
       'LENNOX', 'LEONARDO', 'LEONATO', 'LEONINE', 'LEONTES', 'LEPIDUS',
       'LEWIS', 'LIGARIUS', 'LINCOLN', 'LODOVICO', 'LONGAVILLE',
       'LORD BERKELEY', 'LORD FITZWATER', 'LORD POLONIUS', 'LORD ROSS',
       'LORD STANLEY', 'LORD WILLOUGHBY', 'LORDS', 'LORENZO', 'LOVEL',
       'LOVELL', 'LUCE', 'LUCENTIO', 'LUCETTA', 'LUCIANA', 'LUCIANUS',
       'LUCILIUS', 'LUCIO', 'LUCIUS', 'LUCULLUS', 'LUCY', 'LYCHORIDA',
       'LYSANDER', 'LYSIMACHUS', 'Lady', 'Lawyer', 'Legate', 'Lieutenant',
       'Lion', 'Lord', 'Lord Marshal', 'Lord Mayor', 'Lords', 'MACBETH',
       'MACDUFF', 'MACMORRIS', 'MALCOLM', 'MALVOLIO', 'MAMILLIUS',
       'MARCELLUS', 'MARCIUS', 'MARCUS', 'MARCUS ANDRONICUS', 'MARDIAN',
       'MARGARELON', 'MARGARET', 'MARGARET JOURDAIN', 'MARIA', 'MARIANA',
       'MARINA', 'MARK ANTONY', 'MARTIUS', 'MARULLUS', 'MECAENAS',
       'MELUN', 'MENAS', 'MENECRATES', 'MENELAUS', 'MENENIUS', 'MENTEITH',
       'MERCADE', 'MERCUTIO', 'MESSALA', 'METELLUS CIMBER', 'MICHAEL',
       'MIRANDA', 'MISTRESS FORD', 'MISTRESS OVERDONE', 'MISTRESS PAGE',
       'MISTRESS QUICKLY', 'MONTAGUE', 'MONTANO', 'MONTJOY', 'MOPSA',
       'MOROCCO', 'MORTIMER', 'MOTH', 'MUSTARDSEED', 'MUTIUS',
       'MYRMIDONS', 'Man', 'Mariner', 'Mariners', 'Marshal', 'Master',
       'Mayor', 'Merchant', 'Messenger', 'Moonshine', 'Mother',
       'Musician', 'NATHANIEL', 'NERISSA', 'NESTOR', 'NICHOLAS',
       'NORFOLK', 'NORTHUMBERLAND', 'NURSE', 'NYM', 'Nobleman', 'Nurse',
       'OBERON', 'OCTAVIA', 'OCTAVIUS', 'OCTAVIUS CAESAR', 'OF AUVERGNE',
       'OF EPHESUS', 'OF SYRACUSE', 'OF WINCHESTER', 'OLIVER', 'OLIVIA',
       'OPHELIA', 'ORLANDO', 'ORLEANS', 'OSRIC', 'OSWALD', 'OTHELLO',
       'OXFORD', 'Officer', 'Old Athenian', 'Old Lady', 'Old Man',
       'Ostler', 'Outlaws', 'PAGE', 'PANDARUS', 'PANTHINO', 'PARIS',
       'PAROLLES', 'PATIENCE', 'PATROCLUS', 'PAULINA', 'PEASEBLOSSOM',
       'PEMBROKE', 'PERDITA', 'PERICLES', 'PETER', 'PETO', 'PETRUCHIO',
       'PHEBE', 'PHILARIO', 'PHILEMON', 'PHILIP', 'PHILO', 'PHILOSTRATE',
       'PHILOTUS', 'PHRYNIA', 'PINCH', 'PINDARUS', 'PISANIO', 'PISTOL',
       'PLANTAGENET', 'POINS', 'POLIXENES', 'POMPEY', 'POMPHEY',
       'POPILIUS', 'PORTIA', 'POSTHUMUS LEONATUS', 'PRIAM', 'PRINCE',
       'PRINCE EDWARD', 'PRINCE FORTINBRAS', 'PRINCE HENRY', 'PRINCESS',
       'PROCULEIUS', 'PROSPERO', 'PROTEUS', 'PUBLIUS', 'PUCK', 'Page',
       'Painter', 'Pandar', 'Pedant', 'Player King', 'Player Queen',
       'Players', 'Poet', 'Porter', 'Post', 'Posthumus Leonatus',
       'Priest', 'Prologue', 'Provost', 'Pursuivant', 'Pyramus', 'QUEEN',
       'QUEEN ELINOR', 'QUEEN ELIZABETH', 'QUEEN GERTRUDE',
       'QUEEN ISABEL', 'QUEEN KATHARINE', 'QUEEN MARGARET', 'QUINCE',
       'QUINTUS', 'RAMBURES', 'RATCLIFF', 'REGAN', 'REIGNIER', 'REYNALDO',
       'RICHARD', 'RICHMOND', 'RIVERS', 'ROBERT', 'ROBIN', 'RODERIGO',
       'ROMEO', 'ROSALIND', 'ROSALINE', 'ROSENCRANTZ', 'ROSS', 'RUGBY',
       'RUTLAND', 'Roman', 'SALANIO', 'SALARINO', 'SALERIO', 'SALISBURY',
       'SAMPSON', 'SANDS', 'SATURNINUS', 'SAY', 'SCALES', 'SCARUS',
       'SCROOP', 'SEBASTIAN', 'SELEUCUS', 'SEMPRONIUS', 'SERVILIUS',
       'SEYTON', 'SHALLOW', 'SHYLOCK', 'SICINIUS', 'SILIUS', 'SILVIA',
       'SILVIUS', 'SIMONIDES', 'SIMPCOX', 'SIMPLE', 'SIR ANDREW',
       'SIR HUGH EVANS', 'SIR HUMPHREY', 'SIR MICHAEL', 'SIR NATHANIEL',
       'SIR OLIVER MARTEXT', 'SIR STEPHEN SCROOP', 'SIR TOBY BELCH',
       'SIR WALTER BLUNT', 'SIWARD', 'SLENDER', 'SLY', 'SMITH', 'SNOUT',
       'SNUG', 'SOMERSET', 'SPEED', 'STANLEY', 'STARVELING', 'STEPHANO',
       'STRATO', 'SU FFOLK', 'SUFFOLK', 'SURREY', 'Sailor', 'Scout',
       'Scribe', 'Scrivener', 'Second Apparition', 'Second Attendant',
       'Second Bandit', 'Second Brother', 'Second Captain',
       'Second Capulet', 'Second Carrier', 'Second Citizen',
       'Second Clown', 'Second Commoner', 'Second Conspirator',
       'Second Fisherman', 'Second Gaoler', 'Second Gentleman',
       'Second Gentlemen', 'Second Goth', 'Second Guard', 'Second Herald',
       'Second Huntsman', 'Second Keeper', 'Second Knight', 'Second Lady',
       'Second Lord', 'Second Merchant', 'Second Messenger',
       'Second Murderer', 'Second Musician', 'Second Neighbour',
       'Second Officer', 'Second Outlaw', 'Second Page',
       'Second Patrician', 'Second Petitioner', 'Second Pirate',
       'Second Roman', 'Second Sailor', 'Second Senator',
       'Second Servant', 'Second Servingman', 'Second Soldier',
       'Second Stranger', 'Second Warder', 'Second Watchman',
       'Second Witch', 'Second murderer', 'Senator', 'Senators',
       'Sentinels', 'Sergeant', 'Servant', 'Servants', 'Seventh Citizen',
       'Several Citizens', 'Sexton', 'Shepard', 'Shepherd', 'Sheriff',
       'Sicilius Leonatus', 'Sixth Citizen', 'Soldier', 'Soldiers',
       'Some Others', 'Some Speak', 'Son', 'Soothsayer', 'Spirit',
       'Steward', 'Surveyor', 'TALBOT', 'TAMORA', 'TAURUS', 'THAISA',
       'THALIARD', 'THERSITES', 'THESEUS', 'THOMAS MOWBRAY', 'THURIO',
       'THYREUS', 'TIMANDRA', 'TIMON', 'TITANIA', 'TITINIUS', 'TITUS',
       'TITUS ANDRONICUS', 'TOUCHSTONE', 'TRANIO', 'TREBONIUS',
       'TRINCULO', 'TROILUS', 'TUBAL', 'TYBALT', 'TYRREL', 'Tailor',
       'Thieves', 'Third Apparition', 'Third Bandit', 'Third Citizen',
       'Third Conspirator', 'Third Fisherman', 'Third Gentleman',
       'Third Goth', 'Third Guard', 'Third Knight', 'Third Lord',
       'Third Messenger', 'Third Murderer', 'Third Musician',
       'Third Neighbour', 'Third Outlaw', 'Third Pirate', 'Third Roman',
       'Third Senator', 'Third Servant', 'Third Servingman',
       'Third Soldier', 'Third Stranger', 'Third Watchman', 'Third Witch',
       'Thisbe', 'Time', 'Townsman', 'Travellers', 'Tribunes', 'Tutor',
       'Tyrian Sailor', 'ULYSSES', 'URSULA', 'VALENTINE', 'VALERIA',
       'VARRIUS', 'VARRO', 'VAUGHAN', 'VAUX', 'VENTIDIUS', 'VERGES',
       'VERNON', 'VINCENTIO', 'VIOLA', 'VIRGILIA', 'VOLTIMAND',
       'VOLUMNIA', 'VOLUMNIUS', 'Vintner', 'Volsce', 'WARWICK',
       'WESTMORELAND', 'WHITMORE', 'WILLIAM', 'WILLIAM PAGE',
       'WILLIAM STAFFORD', 'WILLIAMS', 'WOODVILE', 'WORCESTER', 'Wall',
       'Watch', 'Watchman', 'Widow', 'Wife', 'YORK', 'YOUNG CLIFFORD',
       'YOUNG SIWARD', 'Young LUCIUS', 'Young MARCIUS', 'of BUCKINGHAM',
       'of King Henry VI', 'of Prince Edward', 'of young Princes'],
      dtype=object)